::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 140%;

  main {
    width: 60%;
    margin: 0 auto;

    div{
      display: flex;
      align-items: center;

      img {
        display: inline-block;
        margin: 2% auto;
        width: 30%;
      }
    }
    h1 {

    }
    p {
      display: block;
    }
  }
}